<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    
        <link href="https://bootswatch.com/5/lux/bootstrap.min.css" rel="stylesheet"> <link href="./static/css/static.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    
    </head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="static/images/cartoon_car.png" height="30px"></a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/predict">Predict Car Price</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tableau">Tableau Story</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/analysis">Project Analysis</a>
                  </li>
            </ul>
        </div>
    </nav>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <br><br>
                <h1>LET US HELP YOU FIND YOUR (USED) DREAM CAR!</h1>
                <br><br><br> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"> <img src="static/images/image_1.png" class="img-fluid" alt="Image 1">
                <p>Welcome to our used car search website, your one-stop shop for finding the perfect pre-owned vehicle. We understand that buying a used car can be a daunting task, with a vast market full of hidden gems and potential pitfalls. That's why we're here to simplify the process, providing you with the tools and information you need to make an informed decision.</p>
            </div>
            <div class="col-md-3"> <img src="static/images/image_2.png" class="img-fluid" alt="Image 2">
                <p>Whether you're looking for a reliable sedan, a spacious SUV, or a rugged truck, we have something for everyone. Our user-friendly search filters allow you to narrow down your options based on your specific needs and preferences, such as price, mileage, fuel type, and more.</p>
            </div>
            <div class="col-md-3"> <img src="static/images/image_3.png" class="img-fluid" alt="Image 3">
                <p>Our goal is to empower you with the knowledge necessary to evaluate the value and condition of a used car, ensuring that you make a purchase that aligns with your expectations and budget.</p>
            </div>
            <div class="col-md-3"> <img src="static/images/image_4.png" class="img-fluid" alt="Image 4">
                <p>With our commitment to transparency and customer satisfaction, we strive to make your used car buying experience as smooth and enjoyable as possible. So start your search today and discover why countless others have trusted us to help them find their dream car without the hassle.</p>
            </div>
        </div>
    </div>
            
</body>
</html>